/JavaApplication1/nbproject/private/
/ProjectOne/nbproject/private/
/ProjectOne/build/
/Poo20242/nbproject/private/
/Poo20242/build/
/POO20352/PrimerProyecto/nbproject/private/
/POO20252/PrimerProyecto/nbproject/private/
/POO20252/PrimerProyecto/build/
/Poo20262Repo/nbproject/private/
/Poo20262Repo/build/
/MyFirstJavaApp/nbproject/private/
/MyFirstJavaApp/build/
